In [1]:
import pandas as pd

## Series

In [2]:
series_test1 = pd.Series([100, 200, 300])
series_test1

0    100
1    200
2    300
dtype: int64

In [3]:
series_test2 = pd.Series({1999: 48, 2000: 51, 2001: 18})
series_test2

1999    48
2000    51
2001    18
dtype: int64

In [4]:
series_test3 = pd.Series([100, 110, 120], index= ['a', 'b', 'c'])
series_test3

a    100
b    110
c    120
dtype: int64

## Dataframe

In [6]:
df_test = pd.DataFrame({1999: [74, 38, 39], 2000: [34, 32, 32], 2001: [23, 39, 23]})
df_test

   1999  2000  2001
0    74    34    23
1    38    32    39
2    39    32    23

In [7]:
df_test2 = pd.DataFrame([[74, 38, 39], [34, 32, 32], [23, 39, 23]], columns= [1999, 2000, 2001])
df_test2

   1999  2000  2001
0    74    38    39
1    34    32    32
2    23    39    23